/* Asterisco nos sirve para hacer los reset de nivel mas bajo  */
/* (0, 0, 0): es el elemento de especificidad mas bajo */
* {
    background-color: rgb(160, 125, 160);
}

/* estilando usando la etiqueta. Las etiquetas no llevan punto */
/* las etiquetas tienen especificidad: (0, 0, 1) */
h1 {
    color: rgb(88, 14, 14);
    font-size: 72px;
    background-color: salmon;
}

/* piniendo un estilo a etiqueta que se repite varias veces */
div {
    background-color: silver;
    margin-top: 5%;
}

/* los class son los siguientes en especificidad! Valen 10 mas que las etiquetas: (0, 1, 0) */
.divDistinto {
    background-color: turquoise;
}

/* los id tienen especificidad: (1, 0, 0) */
#textoLorem {
    color: white;
}

/* los id */
#textoLorem span {
    color: palevioletred;
    background: papayawhip;
    cursor: pointer;
}

/* podemos combinar! Ahora es: (0, 2, 1) */
p.textoLorem.texto2 {
    color: blue ;   
}

/* podemos combinar! Ahora es: (0, 1, 1) */
p.textoLorem {
    color: yellow ;   
}

/* important pasa por encima todo! ahora es (1, 0, 1, 0) */
.noHaganEsto {
    color: rebeccapurple!important;
}

/* podemos combinar las etiquetas, suma las especificidades mas bajas (0, 0, 2) */
ul li {
    list-style-type: square;
}